@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
	background-color: transparent;
	font-family: 'Roboto', sans-serif;
}

.sign-in-link{
    border-radius: 10%;
    color:  rgb(192, 134, 27);
    /* font-size: 18px; */
}
.sign-in-link:hover{
    color: rgb(187, 201, 1);
}


footer {
   
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }